.list-view {
    margin-top: 60px;
    margin-bottom: 60px;
}

.list-view .list-card {
    border: 2px solid green;
    margin: 0 auto 20px auto;
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-view .list-card .list-card-image-container {
    height: 100%;
    width: 60%;
}

.list-view .list-card .list-card-text-container {
    height: 100%;
    width: 30%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.list-view .list-card .list-card-text-container h3 {
    width: 70%;
    font-weight: bold;
    font-size: 1.6rem;
}


.list-view .list-card .list-card-text-container .list-card-rating {
    width: 30%;
    margin-top: 0.3rem;
}

.list-view .list-card .list-card-image-container img {
    width: 100%;
    height: 100%;
}

.list-view .skeleton-card {
    height: 200px;
    width: 90%;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-view .skeleton-card .skeleton-list-card-image-container {
    height: 100%;
}

.list-view .skeleton-card .skeleton-list-card-image-container {
    height: 100%;
}

@media(max-width: 830px) {
    .list-view .list-card {
        width: 100%;
    }

    .list-view .list-card .list-card-image-container {
        width: 70%;
    }

}